/* we can use webcss variables, fabric compiles that to gtk css.
   global variables can be stored in :vars */
:vars {
    --background: #353a3f;
    --foreground: #ffffff;
    --color0: #6e6e77;
    --color1: #3c3e43;
    --color2: #9C5995;
    --color3: #D5719F;
    --color4: #9A62F3;
    --color5: #E075DF;
    --color6: #F98F9F;
    --color7: #f5dbc4;
    --color8: #ab9989;
    --color9: #72448D;
    --color10: #9C5995;
    --color11: #323A44;
    --color12: #9A62F3;
    --color13: #E075DF;
    --color14: #F98F9F;
    --color15: #f5dbc4;
    --window-bg: alpha(var(--background), 0.85);
    --ws-active: var(--foreground);
    --ws-inactive: var(--foreground);
    --ws-empty: var(--color8);
    --ws-hover: var(--color1);
    --ws-urgent: var(--color12);
}

/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--foreground);
    font-size: 10pt;
    font-family: SF Pro Text, JetBrainsMono Nerd Font, sans-serif;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

button {
    background-size: 400% 400%;
}

#bar-inner {
    padding: 8px;
    background-color: var(--window-bg);
}

#workspaces {
    padding: 6px;
    /* min-width: 0px; */
}

#workspaces>button {
    border-radius: 100px;
    padding: 4.5px 4.5px;
    transition: padding 0.1s steps(12);
    background-color: var(--ws-inactive);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
}

#workspaces>button>label {
    font-size: 0px;
}

#workspaces>button:hover {
    background-color: var(--ws-hover);
}

#workspaces>button.urgent {
    background-color: var(--ws-urgent);
}

#workspaces>button.active {
    padding: 4.5px 8px;
    background-color: var(--ws-active);
}

#workspaces>button.empty {
    background-color: var(--ws-empty);
}


#date-time,
#hyprland-window {
    padding: 0px 8px;
}

#date-time>label {
    font-size: 9pt;
    font-weight: 500;
}

#hyprland-window>label {
    font-weight: 700;
}
