/* we can use webcss variables, fabric compiles that to gtk css.
   global variables can be stored in :vars */
:vars {
    /* --background: #353a3f; */
    --background: #000000;
    --foreground: #ffffff;
    --color0: #6e6e77;
    --color1: #3c3e43;
    --color2: #9C5995;
    --color3: #D5719F;
    --color4: #9A62F3;
    --color5: #E075DF;
    --color6: #F98F9F;
    --color7: #f5dbc4;
    --color8: #ab9989;
    --color9: #72448D;
    --color10: #9C5995;
    --color11: #323A44;
    --color12: #9A62F3;
    --color13: #E075DF;
    --color14: #F98F9F;
    --color15: #f5dbc4;
    --window-bg: alpha(var(--background), 0.8);
    --menu-bg: alpha(#2a2a2a, 0.8);
    --button-hover: alpha(var(--foreground), 0.5);
    --button-select: var(--foreground);
    --ws-active: var(--foreground);
    --ws-inactive: alpha(var(--foreground), 0.5);
    --ws-empty: var(--color8);
    --ws-hover: alpha(var(--foreground), 0.5);
    --ws-urgent: var(--color12);
}

/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--foreground);
    font-size: 10pt;
    font-family: SF Pro Text;
    font-weight: 500;
}

button {
    background-size: 400% 400%;
}

#bar-inner {
    /* padding: 2px; */
    /* background-color: alpha(#000000, 0); */
    background-color: var(--window-bg);
}

#box-start {
    border-radius: 8px;
    padding: 4px;
    /* background-color: var(--window-bg); */
}

#power-button {
    border-radius: 4px;
    padding: 5px;
}

#power-button:hover {
    background-color: var(--button-hover);
    transition: 0.25s background-color cubic-bezier(0.4, 0, 0.2, 1);
}

#power-button.open {
    background-color: var(--button-select);
}

#hyprland-window {
    padding: 0px 4px 0px 8px;
}

#hyprland-window>label {
}

#workspaces {
    border-radius: 8px;
    padding: 4px;
    /* background-color: var(--window-bg); */
}

#workspaces>button {
    border-radius: 4px;
    padding: 2px 0px 0px 0px;
    /* background-color: var(--ws-inactive); */
    min-height: 20px;
    min-width: 22px;
}

#workspaces>button>label {
    font-family: JetBrainsMono Nerd Font;
    font-size: 8pt;
    font-weight: 700;
}

#workspaces>button:hover {
    background-color: var(--ws-hover);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces>button.urgent {
    background-color: var(--ws-urgent);
}

#workspaces>button.active {
    background-color: var(--ws-active);
}

#workspaces>button.active>label {
    color: var(--window-bg);
}

#workspaces>button.empty {
    background-color: var(--ws-empty);
}

#box-end {
    padding: 2px 8px;
    border-radius: 4px;
    /* background-color: var(--window-bg); */
}

#battery {
    padding: 0px 16px;
}

#battery>label {
    /* padding: 2px 0px 0px 0px; */
    font-size: 8pt;
    font-weight: 700;
}

#battery>label,
#date-time>label,
#hyprland-window>label {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#power-menu {
    padding: 12px 16px;
    background-color: var(--menu-bg);
}

#power-menu-button {
    border-radius: 4px;
    padding: 5px;
}

#power-menu-button:hover {
    background-color: var(--button-hover);
    transition: 0.25s background-color cubic-bezier(0.4, 0, 0.2, 1);
}

#power-menu-button.selected {
    background-color: var(--button-select);
}

#power-menu-label {
    font-size: 8pt;
    font-weight: 700;
}
